
## NLP ##
nltk==3.6.2
spacy==2.2.2
gensim
textblob==0.15.3
wordfreq==2.5.0
sumy==0.8.1
textstat==0.7.1

## machine learning ##
#sklearn==0.21.3 #Random forest is broken on version 0.22
#torch==1.5.1
#transformers==2.11.0


## tools ##
nameko==2.14.0
pytest==3.5
pytest-cov==2.5
