
## NLP ##
nltk
spacy
gensim
textblob
wordfreq
sumy
textstat

## machine learning ##
#sklearn==0.21.3 #Random forest is broken on version 0.22
#torch==1.5.1
#transformers==2.11.0


## tools ##
nameko==2.14.0
pytest==3.5
pytest-cov==2.5
